    <!-- adding style here --><style type="text/css">body {
        margin: 0;
        padding: 0px;
        background: #0D52EB;
    }
    
    header {
        padding: 0px;
        background-color: #0D52EB;
        text-align: center;
    }
    
    header,
    .form-group {
        margin-bottom: 0%;
    }
    
    .form-group {
        width: 50%;
    }
    
    .nav ul {
        list-style: none;
        background-color: #444;
        text-align: center;
        margin-bottom: 0;
        padding: 0;
        margin-top: 0;
        margin-right: 0;
    }
    
    .nav li {
        font-family: 'Oswald', sans-serif;
        font-size: 1.2em;
        line-height: 40px;
        height: 40px;
        border-bottom: none;
    }
    
    .nav a {
        text-decoration: none;
        color: #fff;
        transition: .3s background-color;
    }
    
    .nav a:hover {
        background-color: #005f5f;
    }
    
    .nav a.active {
        background-color: #fff;
        color: #444;
        cursor: default;
    }
    
    .form-group {
        width: 50%;
    }
    
    .form-group-licence-info {
        width: 30%;
    }
    
    @media screen and (min-width: 1200px) {
        .nav li {
            width: 120px;
            border-bottom: none;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            border=none;
        }
        .nav li {
            display: inline-block;
            margin-right: -4px
        }
    }
    
    </style></head>